<h1>Multi Selection Example</h1>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <h4>Multi Selection</h4>
      <input type="text" id="justAnInputBox" placeholder="Select"/>
    </div>
  </div>
</div>

<h1>Show Files Example</h1>
<div>
  <ul>
    <li *ngFor="let data of pdfData" style="list-style: none">
      <a (click)="ShowPDF(data)">{{data.name}}</a>
    </li>
  </ul>
  <button type="button" class="btn btn-default" (click)="closePDF()" *ngIf="showPDF">Close PDF</button>
</div>
<div *ngIf="showPDF">
  {{path}}
  <iframe [src]="path | safe" width="1000" height="600" frameborder="0"
    webkitallowfullscreen mozallowfullscreen allowfullscreen>
</iframe>
</div>
